* {
				margin: 0;
				padding: 0;
}
header, section, footer, aside, nav, article, hgroup {
				display: block;
}
body {
				text-align: center;
}

.agrupar {
				width: 100%;
				border: 1px solid black;
				margin: 15px auto;
}

.cabecera {
				background: blue;
				border: 1px solid green;
				padding: 20px;
}

.Menu {
				background: aqua;
				padding: 5px 15px;
}

.Menu li {
				text-aline: left;
				list-style: none;
				padding: 5px;
				font: bold 14px verdana;
				display: inline-block;
}

.pie {
				pading: 15px;
				background: blue;
}
